Stok No.		Malzemenin stok numarasıdır.
Malzemenin Adı		Malzemenin fenni adıdır.
Malzeme Kullanım Maksadı		Bakım çeşidine göre PERBAK, FASBAT, YENİLEŞTİRME ifadelerinden birisi yazılır.
Ana Malzemesi		Kullanılan yedek parçanın kullanıldığı ana malzemesi
Malzeme Değişim Yüzdesi		Malzemenin belirlenen değişim yüzdesi yazılır.(%25, %50, %100, %3 gibi)
Ana Malzeme Miktarı		Yedek parçanın kullanıldığı ana malzemenin/malzemelerin toplam miktarıdır.
Araç Başına Kullanım Miktarı		Yedek parçanın birim araç başına kullanım adedidir.
Plaka/Seri No.		Ana malzeme/silah sisteminin plaka varsa seri numarası
Bakım Yapılma Durumu		Bakım yapıldıktan sonra "Yapıldı" diye yazılır.
Bakım Yapılma Tarihi		Bakımın yapıldığı tarih yazılır.
Sarf Yapılma Durumu		Malzemenin sarfı yapıldıktan sonra "Yapıldı" diye yazılır.
t-1 yılındaki bakım tarihi		Ana malzeme/silah sisteminin içinde bulunulan yıldan bir önceki yıl bakıma alındığı tarih
t yılındaki bakım tarihi		Ana malzeme/silah sisteminin içinde bulunulan yıl bakıma alındığı tarih
Bakım Yapılma Tarihi		Ana malzeme/silah sistemine fiilen bakımın yapıldığı tarih.
 t anında bakım yapılan ana malzeme miktarı		Herhangi bir t zamanında bakım yapılan ana malzeme miktarıdır. Bakımı yapıldığı belirtilen ana malzeme/silah sisteminin toplam miktarıdır.
 t anında bakım yapılacak ana malzeme miktarı		Herhangi bir t zamanında bakım yapılacak ana malzeme miktarıdır. Toplam ana malzeme miktarı ile bakımı yapıldığı belirtilen ana malzeme/silah sisteminin farkına eşittir.
t-n'deki sarfın parasal tutarı		Ana malzemenin envantere girişinden içinde bulunulan yıla kadar ki döneme ait, kullanılıp sarf edilen mazemenin toplam parasal tutarıdır.
toplam sarfın parasal tutarı		Ana malzemenin envantere girişinden içinde bulunulan yıl dahil, kullanılıp sarf edilen mazemenin toplam parasal tutarıdır.
t yılı İstek Miktarı	04 İsteği	İçinde bulunulan yıl, İçinde bulunulan yıl için  PERBAK/FASBAT/ YENİLEŞTİRME kapsamında  istenen malzeme miktarı.
	05 İsteği	İçinde bulunulan yıl, bir  yıl sonrası için PERBAK/FASBAT/ YENİLEŞTİRME kapsamında istenen malzeme miktarı.
	06 İsteği	İçinde bulunulan yıl, İki  yıl sonrası için PERBAK/FASBAT/ YENİLEŞTİRME kapsamında istenen malzeme miktarı.

Brl. İhtiyaç Miktarı		Malzeme Değişim Yüzdesi, Ana Malzeme Miktarı ve Araç Başına Kullanım Miktarının çarpımınını 100'e bölünmesinden elde edilen sonuca eşittir.
Depo Mevcudu		Birlik deposunda bulunan yeni hanesindeki rakamlarn toplamıdır.
Son ihtiyaç Miktarı		Depo mevcudu ile birlik ihtiyaç miktarı arasındaki fark ile, içinde bulunulan yıldan bir yıl sonraki yıl, bir  yıl sonrası için PERBAK/FASBAT/ YENİLEŞTİRME kapsamında istenen malzeme miktarı. 
Birim Fiyatı		Malzemenin birim fiyatıdır.
Kaynak  İhtiyaç Miktarı		İçinde bulunulan yıl için ihtiyaç duyulan kaynak miktarı.
Harcanan Toplam Kaynak Miktarı		İçinde bulunulan yıl dahil harcanan toplam kaynak miktarıdır.

In [1]:
import pandas as pd
import re

In [2]:
#from .worksheet import Worksheet
#from openpyxl.cell.read_only import ReadOnlyCell, EMPTY_CELL
#from openpyxl.utils import get_column_letter
#from ._reader import WorkSheetParser

In [3]:
df = pd.read_csv("perfasyenon.csv", encoding="latin-1", sep=";")
df.head()

,S.No.,Kullanim Amaci,Stok No.,Malzemenin \nAd?,Malzeme De?i?im Periyodu,Ana \nMalzemesi,Ana Malzeme Miktar?-y,Araç Ba??na Kullan?m Miktar?-z,Yil Ici Istek Yapma Sayisi-k,t y?l? ?stek Miktar?-04 istegi\nc=a-b,t y?l? ?stek Miktar?-05 istegi-d,t y?l? ?stek Miktar?-06 istegi-e,Brl.\n?htiyaç Miktar?\na=y*z,Depo Mevcudu-b,Gelecek Miktar\nf,Son ihtiyaç Miktar?\ng=c-f,Birim Fiyati\nh,Kaynak Ihtiyac Miktari\ni
0,1,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-295-7458 - 2815012957458,1,1,"ENGINE, DIESEL",125,1,1,79,125,125,125,46,42,37,235,8695
1,2,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-111-2262 - 2815011112262,2,2,"ENGINE, DIESEL",125,4,1,493,500,500,500,7,84,409,46,18814
2,3,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-461-7078 - 2815014617078,3,3,"ENGINE, DIESEL",125,3,2,699,750,750,750,51,9,690,110,75900
3,4,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-00-134-4666 - 2815001344666,4,2,"ENGINE, DIESEL",125,1,1,103,125,125,125,22,32,71,223,15833
4,5,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-432-1336 - 2815014321336,5,3,"ENGINE, DIESEL",125,2,2,468,500,500,500,32,89,379,245,92855

In [4]:
sutun_adlari = {'Kullanim Amaci': 'KullanimAmaci',
                'S.No.': 'S_No', 'Stok No.': 'StokNo',
                'Malzemenin \nAd?': 'MalzemeninAdi', 'Malzeme De?i?im Periyodu': 'MalzemeDegisimPeriyodu',
                'Ana \nMalzemesi': 'AnaMalzemesi', 'Ana Malzeme Miktar?-y': 'AnaMalzemeMiktari',
                'Araç Ba??na Kullan?m Miktar?-z': 'AraçBasinaKullanimMiktari',
                'Yil Ici Istek Yapma Sayisi-k': 'YilIciIstekYapmaSayisi',
                't y?l? ?stek Miktar?-04 istegi\nc=a-b': '04istegi', 't y?l? ?stek Miktar?-05 istegi-d': '05istegi',
                't y?l? ?stek Miktar?-06 istegi-e': '06istegi',
                'Brl.\n?htiyaç Miktar?\na=y*z': 'IhtiyacMiktari', 'Depo Mevcudu-b': 'DepoMevcudu',
                'Gelecek Miktar\nf': 'GelecekMiktar', 'Son ihtiyaç Miktar?\ng=c-f': 'SonihtiyacMiktari',
                'Birim Fiyati\nh': 'BirimFiyati', 'Kaynak Ihtiyac Miktari\ni': 'KaynakIhtiyacMiktari'}
df.rename(columns=sutun_adlari, inplace=True)

Veri boyutu nedir?(Satir sütun sayisi)

In [5]:
df.shape

(400, 18)

Tablo özeti

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S_No                       400 non-null    int64
 1   KullanimAmaci              400 non-null    object
 2   StokNo                     400 non-null    object
 3   MalzemeninAdi              400 non-null    int64
 4   MalzemeDegisimPeriyodu     400 non-null    int64
 5   AnaMalzemesi               400 non-null    object
 6   AnaMalzemeMiktari          400 non-null    int64
 7   AraçBasinaKullanimMiktari  400 non-null    int64
 8   YilIciIstekYapmaSayisi     400 non-null    int64
 9   04istegi                   400 non-null    int64
 10  05istegi                   400 non-null    int64
 11  06istegi                   400 non-null    int64
 12  IhtiyacMiktari             400 non-null    int64
 13  DepoMevcudu                400 non-null    int64
 14  GelecekMiktar              400 non-null    int64
 15  SonihtiyacMiktari          400 non-null    int64
 16  BirimFiyati                400 non-null    int64
 17  KaynakIhtiyacMiktari       400 non-null    int64
dtypes: int64(15), object(3)
memory usage: 56.4+ KB

In [7]:
df.describe()

,S_No,MalzemeninAdi,MalzemeDegisimPeriyodu,AnaMalzemeMiktari,AraçBasinaKullanimMiktari,YilIciIstekYapmaSayisi,04istegi,05istegi,06istegi,IhtiyacMiktari,DepoMevcudu,GelecekMiktar,SonihtiyacMiktari,BirimFiyati,KaynakIhtiyacMiktari
count,400.000000,400.000000,400.000000,400.0,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,200.500000,1.965000,125.0,2.530000,1.330000,389.682500,420.000000,420.000000,420.000000,30.317500,50.625000,339.057500,127.342500,42650.507500
std,115.614301,115.614301,0.833975,0.0,1.105511,0.470802,240.342001,239.615136,239.615136,239.615136,18.103481,30.958204,243.111728,74.567728,44440.354319
min,1.000000,1.000000,1.000000,125.0,1.000000,1.000000,65.000000,125.000000,125.000000,125.000000,0.000000,1.000000,-29.000000,1.000000,-5249.000000
25%,100.750000,100.750000,1.000000,125.0,2.000000,1.000000,214.750000,250.000000,250.000000,250.000000,14.750000,23.000000,160.750000,59.750000,9413.000000
50%,200.500000,200.500000,2.000000,125.0,3.000000,1.000000,352.000000,375.000000,375.000000,375.000000,30.000000,49.000000,316.500000,130.000000,29916.000000
75%,300.250000,300.250000,3.000000,125.0,4.000000,2.000000,483.000000,500.000000,500.000000,500.000000,47.000000,79.000000,438.250000,193.250000,61871.250000
max,400.000000,400.000000,3.000000,125.0,4.000000,2.000000,1000.000000,1000.000000,1000.000000,1000.000000,60.000000,100.000000,997.000000,249.000000,234608.000000

Sütun adlari nelerdir?

In [8]:
df.columns

Index(['S_No', 'KullanimAmaci', 'StokNo', 'MalzemeninAdi',
       'MalzemeDegisimPeriyodu', 'AnaMalzemesi', 'AnaMalzemeMiktari',
       'AraçBasinaKullanimMiktari', 'YilIciIstekYapmaSayisi', '04istegi',
       '05istegi', '06istegi', 'IhtiyacMiktari', 'DepoMevcudu',
       'GelecekMiktar', 'SonihtiyacMiktari', 'BirimFiyati',
       'KaynakIhtiyacMiktari'],
      dtype='object')

In [9]:
df.head()

,S_No,KullanimAmaci,StokNo,MalzemeninAdi,MalzemeDegisimPeriyodu,AnaMalzemesi,AnaMalzemeMiktari,AraçBasinaKullanimMiktari,YilIciIstekYapmaSayisi,04istegi,05istegi,06istegi,IhtiyacMiktari,DepoMevcudu,GelecekMiktar,SonihtiyacMiktari,BirimFiyati,KaynakIhtiyacMiktari
0,1,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-295-7458 - 2815012957458,1,1,"ENGINE, DIESEL",125,1,1,79,125,125,125,46,42,37,235,8695
1,2,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-111-2262 - 2815011112262,2,2,"ENGINE, DIESEL",125,4,1,493,500,500,500,7,84,409,46,18814
2,3,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-461-7078 - 2815014617078,3,3,"ENGINE, DIESEL",125,3,2,699,750,750,750,51,9,690,110,75900
3,4,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-00-134-4666 - 2815001344666,4,2,"ENGINE, DIESEL",125,1,1,103,125,125,125,22,32,71,223,15833
4,5,PERBAK/FASBAT/YEN?LE?T?RME MALZEMELER?,2815-01-432-1336 - 2815014321336,5,3,"ENGINE, DIESEL",125,2,2,468,500,500,500,32,89,379,245,92855

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S_No                       400 non-null    int64
 1   KullanimAmaci              400 non-null    object
 2   StokNo                     400 non-null    object
 3   MalzemeninAdi              400 non-null    int64
 4   MalzemeDegisimPeriyodu     400 non-null    int64
 5   AnaMalzemesi               400 non-null    object
 6   AnaMalzemeMiktari          400 non-null    int64
 7   AraçBasinaKullanimMiktari  400 non-null    int64
 8   YilIciIstekYapmaSayisi     400 non-null    int64
 9   04istegi                   400 non-null    int64
 10  05istegi                   400 non-null    int64
 11  06istegi                   400 non-null    int64
 12  IhtiyacMiktari             400 non-null    int64
 13  DepoMevcudu                400 non-null    int64
 14  GelecekMiktar              400 non-null    int64
 15  SonihtiyacMiktari          400 non-null    int64
 16  BirimFiyati                400 non-null    int64
 17  KaynakIhtiyacMiktari       400 non-null    int64
dtypes: int64(15), object(3)
memory usage: 56.4+ KB

Sütunlarin herbirinin min, max ve toplam degerlerini bulunuz.

Stok numarlarini temizleyiniz.

In [11]:
sutun_adı = 'S_No'
df['StokNo'] = df['StokNo'].apply(lambda x: re.sub(r'\d{13}$', '', x))

In [12]:
df["StokNo"] = df["StokNo"].str.replace("-", "")

In [13]:
df['StokNo'] = pd.to_numeric(df['StokNo'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S_No                       400 non-null    int64
 1   KullanimAmaci              400 non-null    object
 2   StokNo                     400 non-null    int64
 3   MalzemeninAdi              400 non-null    int64
 4   MalzemeDegisimPeriyodu     400 non-null    int64
 5   AnaMalzemesi               400 non-null    object
 6   AnaMalzemeMiktari          400 non-null    int64
 7   AraçBasinaKullanimMiktari  400 non-null    int64
 8   YilIciIstekYapmaSayisi     400 non-null    int64
 9   04istegi                   400 non-null    int64
 10  05istegi                   400 non-null    int64
 11  06istegi                   400 non-null    int64
 12  IhtiyacMiktari             400 non-null    int64
 13  DepoMevcudu                400 non-null    int64
 14  GelecekMiktar              400 non-null    int64
 15  SonihtiyacMiktari          400 non-null    int64
 16  BirimFiyati                400 non-null    int64
 17  KaynakIhtiyacMiktari       400 non-null    int64
dtypes: int64(16), object(2)
memory usage: 56.4+ KB

Kac tane malzeme vardir?

In [15]:
df["S_No"].value_counts().count()

400

Herbir malzeme degisim periyodundan kacar tane vardir?

In [16]:
df["MalzemeDegisimPeriyodu"].value_counts()

MalzemeDegisimPeriyodu
1    146
3    132
2    122
Name: count, dtype: int64

Arac basina kullanilan malzeme miktarlari kac cesittir?

In [17]:
df["AraçBasinaKullanimMiktari"].count()

400

Arac basina kullanilan malzeme miktarlari cesitlerine göre herbirinden kacar tane vardir?

In [18]:
df["AraçBasinaKullanimMiktari"].value_counts()

AraçBasinaKullanimMiktari
2    106
4    102
3    100
1     92
Name: count, dtype: int64

Yil ici istek yapma sayisi miktarlari kac cesittir?

Yil ici istek yapma sayisi cesitlerine göre herbirinden kacar tane vardir?

In [19]:
df["YilIciIstekYapmaSayisi"].value_counts()

YilIciIstekYapmaSayisi
1    268
2    132
Name: count, dtype: int64

04 isteginde en fazla hangi kalem icin istek yapilmistir?

In [20]:
result = df.groupby(
    '04istegi')['StokNo'].max()
print(result)

04istegi
65      2815015236667
66      2815016109750
68      2815015502615
69      2815016100464
73      2815016131228
            ...
994     2815014622289
995     2815017075541
996     2815014198704
998     2815009611686
1000    2815015454366
Name: StokNo, Length: 228, dtype: int64

04 isteginde en az hangi kalem icin istek yapilmistir?

In [21]:
result1 = df.groupby('04istegi')['StokNo'].min()
print(result1)

04istegi
65      2815015236667
66      2815016109750
68      2815010465861
69      2815000712314
73      2815015408958
            ...
994     2815014622289
995     2815016760880
996     2815011617697
998     2815009611686
1000    2815015454366
Name: StokNo, Length: 228, dtype: int64

04 isteginde ortalama  istek ne kdardir?

In [22]:
df["04istegi"].mean()

389.6825

05 isteginde en fazla hangi kalem icin istek yapilmistir?

In [23]:
result2 = df.groupby(
    '05istegi')['StokNo'].max()
print(result2)

05istegi
125     2815017141109
250     2815121665740
375     2815017150237
500     2815017141256
750     2815017122859
1000    2815017082428
Name: StokNo, dtype: int64

05 isteginde en az hangi kalem icin istek yapilmistir?

In [24]:
result3 = df.groupby(
    '05istegi')['StokNo'].min()
print(result3)

05istegi
125     2815000712314
250     2815000660199
375     2815000100217
500     2815000456865
750     2815000540244
1000    2815009611686
Name: StokNo, dtype: int64

In [25]:
df["05istegi"].min()

125

05 isteginde ortalama  istek ne kadardir?

In [26]:
df["05istegi"].mean()

420.0

06 isteginde en fazla hangi kalem icin istek yapilmistir?

In [27]:
result4 = df.groupby(
    '06istegi')['StokNo'].max()
print(result4)

06istegi
125     2815017141109
250     2815121665740
375     2815017150237
500     2815017141256
750     2815017122859
1000    2815017082428
Name: StokNo, dtype: int64

In [28]:
df["06istegi"].max()

1000

06 isteginde en az hangi kalem icin istek yapilmistir?

In [29]:
result5 = df.groupby(
    '06istegi')['StokNo'].min()
print(result5)

06istegi
125     2815000712314
250     2815000660199
375     2815000100217
500     2815000456865
750     2815000540244
1000    2815009611686
Name: StokNo, dtype: int64

06 isteginde en az istek miktari kactir?

In [30]:
df['06istegi'].min()

125

06 isteginde ortalama  istek ne kadardir?

In [31]:
df["06istegi"].mean()

420.0

Ihtiyac miktari en fazla olan kalem hangisidir?

In [32]:
result6 = df.groupby(
    'IhtiyacMiktari')['StokNo'].max()
print(result6)

IhtiyacMiktari
125     2815017141109
250     2815121665740
375     2815017150237
500     2815017141256
750     2815017122859
1000    2815017082428
Name: StokNo, dtype: int64

Birlik Ihtiyac Miktari maksimum kactir kactir?

In [33]:
df["IhtiyacMiktari"].max()

1000

Birlik ihtiyac miktari en az olan kalem hangisidir?

In [34]:
result7 = df.groupby(
    'IhtiyacMiktari')['StokNo'].min()
print(result7)

IhtiyacMiktari
125     2815000712314
250     2815000660199
375     2815000100217
500     2815000456865
750     2815000540244
1000    2815009611686
Name: StokNo, dtype: int64

In [35]:
df["IhtiyacMiktari"].min()

125

Birlik ihtiyac miktari ortalama ne kadardir?

In [36]:
df["IhtiyacMiktari"].mean()

420.0

Depo mevcudu en fazla olan kalem hangisidir?

In [37]:
result7 = df.groupby(
    'DepoMevcudu')['StokNo'].max()
print(result7)

DepoMevcudu
0     2815017108381
1     2815017004253
2     2815017141256
3     2815016769373
4     2815121665740
          ...
56    2815017075659
57    2815016870649
58    2815015732789
59    2815016949650
60    2815016016892
Name: StokNo, Length: 61, dtype: int64

In [38]:
df["DepoMevcudu"].max()

60

Depo mevcudu en az olan kalem hangisidir?

In [39]:
result8 = df.groupby(
    'DepoMevcudu')['StokNo'].min()
print(result8)

DepoMevcudu
0     2815015406138
1     2815015439460
2     2815000540244
3     2815001061681
4     2815011617697
          ...
56    2815000712314
57    2815010465861
58    2815012519138
59    2815014190222
60    2815013502206
Name: StokNo, Length: 61, dtype: int64

In [40]:
df["DepoMevcudu"].min()

0

Depo mevcudu ortalama ne kadardir?

In [41]:
df["DepoMevcudu"].mean()

30.3175

Gelecek miktari en fazla olan kalem hangisidir?

In [42]:
result8 = df.groupby(
    'GelecekMiktar')['StokNo'].max()
print(result8)

GelecekMiktar
1      2815016954602
2      2815015406138
3      2815016131384
4      2815015990641
5      2815016931875
           ...
96     2815016905024
97     2815016951935
98     2815016016892
99     2815016779537
100    2815016897659
Name: StokNo, Length: 99, dtype: int64

In [43]:
df["GelecekMiktar"].max()

100

Gelecek miktari en az olan kalem hangisidir?

In [44]:
result9 = df.groupby(
    'GelecekMiktar')['StokNo'].min()
print(result9)

GelecekMiktar
1      2815002254786
2      2815015234601
3      2815001032641
4      2815011491353
5      2815015179322
           ...
96     2815015208589
97     2815001061681
98     2815014122715
99     2815014623596
100    2815009380586
Name: StokNo, Length: 99, dtype: int64

In [45]:
df["GelecekMiktar"].min()

1

Gelecek miktari ortalama ne kadardir?

In [46]:
df["GelecekMiktar"].mean()

50.625

Son ihtiyac miktari en fazla olan kalem hangisidir?

In [47]:
result10 = df.groupby(
    'SonihtiyacMiktari')['StokNo'].max()
print(result10)

SonihtiyacMiktari
-29     2815015771838
-21     2815016905024
-20     2815016131228
-12     2815003607776
-7      2815016908192
            ...
 953    2815011617697
 968    2815014622289
 976    2815015907339
 983    2815014198704
 997    2815015454366
Name: StokNo, Length: 292, dtype: int64

In [48]:
df["SonihtiyacMiktari"].max()

997

Son ihtiyac miktari en az olan kalem hangisidir?

In [49]:
result11 = df.groupby(
    'SonihtiyacMiktari')['StokNo'].min()
print(result11)

SonihtiyacMiktari
-29     2815015771838
-21     2815016905024
-20     2815000712314
-12     2815003607776
-7      2815016908192
            ...
 953    2815011617697
 968    2815014622289
 976    2815015907339
 983    2815014198704
 997    2815015454366
Name: StokNo, Length: 292, dtype: int64

In [50]:
df["SonihtiyacMiktari"].min()

-29

Son ihtiyac miktari ortalama ne kadardir?

In [51]:
df["SonihtiyacMiktari"].mean()

339.0575

Birim fiyati en fazla olan kalem hangisidir?

In [52]:
result12 = df.groupby(
    'BirimFiyati')['StokNo'].max()
print(result12)

BirimFiyati
1      2815016984724
2      2815017082786
4      2815015907339
5      2815015950954
6      2815015466234
           ...
245    2815014321336
246    2815017075659
247    2815016998491
248    2815016894298
249    2815015773192
Name: StokNo, Length: 193, dtype: int64

In [53]:
df["BirimFiyati"].max()

249

Birim fiyati en az olan kalem hangisidir?

In [54]:
result13 = df.groupby(
    'BirimFiyati')['StokNo'].min()
print(result13)

BirimFiyati
1      2815010320976
2      2815017082786
4      2815013502206
5      2815015950954
6      2815010459420
           ...
245    2815014321336
246    2815012391775
247    2815015780468
248    2815016894298
249    2815001032641
Name: StokNo, Length: 193, dtype: int64

In [55]:
df["BirimFiyati"].min()

1

Birim fiyati ortalama ne kadardir?

In [56]:
df["BirimFiyati"].mean()

127.3425

Kaynak ihtiyac miktari en fazla olan kalem hangisidir?

In [57]:
result14 = df.groupby(
    'KaynakIhtiyacMiktari')['StokNo'].max()
print(result14)

KaynakIhtiyacMiktari
-5249      2815015771838
-4440      2815016100464
-1780      2815016131228
-1640      2815000712314
-1260      2815003607776
               ...
 212940    2815016837921
 216430    2815017082428
 218722    2815015685759
 220332    2815015626787
 234608    2815016894298
Name: StokNo, Length: 399, dtype: int64

In [58]:
df["KaynakIhtiyacMiktari"].max()

234608

Kaynak ihtiyac miktari en az olan kalem hangisidir?

In [59]:
result16 = df.groupby(
    'KaynakIhtiyacMiktari')['StokNo'].min()
print(result16)

KaynakIhtiyacMiktari
-5249      2815015771838
-4440      2815016100464
-1780      2815016131228
-1640      2815000712314
-1260      2815003607776
               ...
 212940    2815016837921
 216430    2815017082428
 218722    2815015685759
 220332    2815015626787
 234608    2815016894298
Name: StokNo, Length: 399, dtype: int64

In [60]:
df["KaynakIhtiyacMiktari"].min()

-5249

Kaynak ihtiyac miktari ortalama ne kadardir?

In [61]:
df["KaynakIhtiyacMiktari"].mean()

42650.5075